* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.app {
  background-color: lightgray;
}


/* THE PRODUCT CARDS */
.productSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#showText:hover {
cursor: pointer;
color: blueviolet; 
}
/* ================= */


/* THE USER CARDS/ITEMS */


.userCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: rgb(247, 242, 242);
}



.userCardContainer:hover {
  font-size: 105%;
  transition: .2s;
}

#trashCanUser {
  margin-left: 5px;
}


/* ============== */
.header {
  /* background-color: blue; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 55px 55px; 
  justify-items: center;
  align-items: center;
}

.signInModal {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto
}

.signIn {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
 }