* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.app {
  background-color: lightgray;
}


/* THE PRODUCT CARDS */
.productSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#showText:hover {
cursor: pointer;
color: blueviolet; 
}
/* ================= */
.header {
  /* background-color: blue; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 55px 55px; 
  justify-items: center;
  align-items: center;



}
